 @import "tailwindcss";

 /* .grid-bg{
    background-image: linear-gradient(rgba(34,197,94,0.5) 1px, transparent 2px),linear-gradient(90deg, rgba(34,197,94,0.5) 1px, transparent 2px);
    background-size: 60px 60px;
  } */

 @theme inline {
   --color-primary: #150430;
   --color-secondary: #CBACF9;
 }

 .container {
   padding: 0 20px;
 }

 @media (min-width: 40rem) {
   .container {
     max-width: 37rem;
   }
 }

 @media (min-width: 48rem) {
   .container {
     max-width: 45rem;
   }
 }

 @media (min-width: 64rem) {
   .container {
     max-width: 61rem;
   }
 }

 @media (min-width: 80rem) {
   .container {
     max-width: 74rem;
   }
 }

 @media (min-width: 96rem) {
   .container {
     max-width: 90rem;
     padding: 0 40px;

   }
 }